#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en]=mysql-workbench
Name[en]=MySQL workbench
Exec=mysql-workbench
Name=MySQL workbench
Icon=mysql-workbench